body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#box{
    height: 200px;
    width: 350px;
    background-color: greenyellow;
    color: #363636;
    border-radius: 8px;
    font-size: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border: 5px solid greenyellow;
    cursor: pointer;
}